
* {
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

body, html {
    width: 100%;
    background-color: white;
    scroll-behavior: smooth;
    transition: all 0.3 ease 1s;
    margin-bottom: 0;
    margin-left: 0;
}

a:visited {
    text-decoration: 0;
}

nav {
    width: 100%;
    height: 5rem;
    top: 0;
    left: 0;
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0, .9);
    position: fixed;
    z-index: 1000;
    padding: 0;
    margin: 0;
}

.logo {
    cursor: pointer;
    padding-left: 2rem;
    font-weight: bold;
}

.nav-links {
    padding-right: 1rem;
    list-style: none;
    text-decoration: none;
    transition: color 2s;
}

.nav-links:hover {
    color:aqua
    }

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    cursor: pointer;
}

.nav-links li a:hover {
    color: #05B2FD
}

.container {
    width: 100%;
}

.content {
    background-color: #f5f4f4;
    align-items: center;
    display: flex;
    gap: 7rem;
    height: 43rem;
    justify-content: center;
    position: relative;
}

.home-main {
    align-items: center;
    display: flex;
    gap: 5rem;
    justify-content: center;
    position: relative;
}

.home-text {
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    position: relative;
}

.home-text h1 {
    font-size: 3rem;
    font-weight: bold;
    text-decoration: underline;
    padding-top: 2.5rem;
    margin: 0.75rem 0;
}

.home-text span {
    padding-top: 1.5rem;
}

.home-text a {
    text-decoration: none;
    padding-top: 0.35rem;
    padding-right: 0.35rem;
    gap: 1rem;
}

.proficiencies {
    display: inline;
    padding-top: 3rem;
    font-size: 1.25rem;
    gap: 0.5rem;
}

.home-image img {
    height: 20rem;
    width: 24rem;
    border: 3px solid black;
    border-radius: 25px;
    z-index: -1
}

.about-content {
    height: 40rem;
    padding: 4rem 12rem;
    align-items: center;
    display: flex;
    gap: 5rem;
    justify-content: center;
}

.about-image img {
    height: 20rem;
    width: 23rem;
    border: 3px solid black;
    border-radius: 25px;
}

.about-text p {
    padding-top: 1rem;
}

.about-text h4 {
    font-weight: bold;
    padding-top: 1rem;
}

.about-text h3 {
    font-size: 1rem;
    font-weight: 700;
    color: #05B2FD;
}

.projects .container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.projects {
    background-color: #f5f4f4;
    padding-bottom: 3rem;
}

#portfolio-header {
    padding-top: 10rem;
    font-weight: bold;
    color:#05B2FD
}

.project-links {
    padding: 0.5rem;
    text-decoration: none;
}

.project-1 {
    border-radius: 12.5px;
    background: #fff;
    box-shadow: 0 0 5px rgba(0,0,0, .9);
    height: auto;
    padding: 2rem;
    margin: 2rem 0;
}

.project-1-content {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.project-1-content img {
    border-radius: 12.5px;
    box-shadow: 0 0 5px rgba(0,0,0, .9);
    width: 350px;
    height: 300px;
    margin-left: 6rem;
}

#p1desc {
    padding-bottom: 8rem;
}

.project-2 {
    border-radius: 12.5px;
    background: #fff;
    box-shadow: 0 0 5px rgba(0,0,0, .9);
    height: auto;
    padding: 2rem;
    margin: 2rem 0;
}

.project-2-content {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.project-2-content img {
    border-radius: 12.5px;
    box-shadow: 0 0 5px rgba(0,0,0, .9);
    width: 350px;
    height: 200px;
    margin-left: 6rem;
}

#p2desc {
    padding-bottom: 4rem;
}

.project-3 {
    border-radius: 12.5px;
    background: #fff;
    box-shadow: 0 0 5px rgba(0,0,0, .9);
    height: auto;
    padding: 2rem;
    margin: 2rem 0;
}

.project-3-content {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.project-3-content img {
    border-radius: 12.5px;
    box-shadow: 0 0 5px rgba(0,0,0, .9);
    width: 350px;
    height: 200px;
    margin-left: 6rem;
}

#p3desc {
    padding-bottom: 5rem;
}

.contact-content {
    display: flex;
    flex-direction: column;
}

.contact-content p {
    text-transform: uppercase;
    color: #05B2FD;
}

.contactcontainer {
    max-width: 100%;
    background-color: #fff;
    padding: 5rem;
}

.contact-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 8rem;
    margin-top: 0.5rem;
}

.contact-icon-box {
    display: inline-block;
}

footer {
    margin-bottom: 0;
    bottom: 0;
}

footer .container {
    display: flex;
    justify-content: center;
    bottom: 0;
    background-color: black;
    margin-bottom: 0;
}

.footerbuttons {
    margin: 5rem;
    color: black;
}

/* #darkmodebutton {
    color: white;
    cursor: pointer;
    background: none;
    border: none;
}

#lightmodebutton {
    color: white;
    cursor: pointer;
    background: none;
    border: none;
} */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 50%;
}

.close {
    float: right;
    cursor: pointer;
    font-size: 24px;
}

form {
    display: flex;
    flex-direction: column;
}

#openModalBtn {
    color: white;
    cursor: pointer;
    border: none;
    background: none;
}

@media screen and (max-width: 1050px) {
    #homemaincontent {
        padding: auto 1rem;
    }
}

@media screen and (max-width: 1000px) {
    .home-image img {
        display: none;
    }
}

@media screen and (max-width: 1050px) {
    .about-image img {
            display: none;
        }
}

@media screen and (max-width: 750px) { 
    .about-text {
        font-size: 14px;
    }
}

@media screen and (max-width: 750px) { 
    .about-content {
        padding: 4rem 4rem;
    }
}

@media screen and (max-width: 700px) {
    .nav-links {
        padding-left: 0;
        font-size: 16px;
    }
}

@media screen and (max-width: 630px) {
    .nav-links {
        padding-left: 0;
        font-size: 13.5px;
    }
}

@media screen and (max-width: 725px) {
    .project-1-content img {
       display: none;
    }
}

@media screen and (max-width: 680px) {
    .project-2-content img {
       display: none;
    }
}

@media screen and (max-width: 650px) {
    .project-3-content img {
       display: none;
    }
}
